/* -- Menu ABERTO -- */
aside#left-panel {
  background: #fff;
  height: 100vh;
  padding: 0;
  vertical-align: top;
  width: 280px;
  -webkit-box-shadow: 1px 0 8px rgba(0, 0, 0, 0.32);
          box-shadow: 1px 0 8px rgba(0, 0, 0, 0.32);
  position: fixed;
  left: 0;
  bottom: 0;
  top: 70px;
  z-index: 999; 
}
  aside#left-panel:hover {
    overflow-x: scroll; }

.open aside#left-panel:hover {
  overflow-x: inherit; }

.navbar {
  background: #fff;
  border-radius: 0;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top; 
}
  .navbar .main-menu {
    float: left;
    padding: 0;
    padding-bottom: 50px; 
  }
  .navbar .navbar-nav {
    position: relative; 
  }   
    .navbar .navbar-nav li {
      width: 100%;
      border-bottom: 1px solid #e4e4e4
     }
     .navbar .navbar-nav li:hover {
       background: #25284b; 
       color:#f1f1f1!important;
      }
    .navbar .navbar-nav > li {
      padding-left: 30px;
      padding-right: 30px; 
    }
      .navbar .navbar-nav > li.active {
        background: #25284b; 
        color:#f1f1f1!important;
      }
      .navbar .navbar-nav li .dropdown-toggle:after {
        display: none; 
      }
      .navbar .navbar-nav li > a, .navbar .navbar-nav li i.menu-icon ::before{
        color: #25284b;
        display: inline-block;
        font-size: 14px;
        line-height: 26px;
        padding: 10px 0;
        position: relative;
        width: 100%; 
      }
      .navbar .navbar-nav li:hover,
      .navbar .navbar-nav li:hover .menu-icon, 
      .navbar .navbar-nav li > a:hover, 
      .navbar .navbar-nav li a:hover .menu-icon, 
      .navbar .navbar-nav li.active .menu-icon, 
      .navbar .navbar-nav li:hover .toggle_nav_button:before,
      .navbar .navbar-nav li .toggle_nav_button.nav-open:before {
        color: #f1f1f1!important; 
      }
        .navbar .navbar-nav li > a .menu-icon {
          color: #25284b;
          float: left;
          margin-top: 8px;
          width: 55px;
          text-align: left;
          z-index: 9; 
        }

      .navbar .navbar-nav li.menu-item-has-children {
        position: relative; }
        .navbar .navbar-nav li.menu-item-has-children a {
          line-height: 30px; }
          .navbar .navbar-nav li.menu-item-has-children a:before {
            content: "";
            position: absolute;
            top: 23px;
            right: 0;
            width: 8px;
            height: 8px;
            border-style: solid;
            border-width: 1px;
            border-color: #f1f1f1 #f1f1f1 transparent transparent;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
            -webkit-transition: all .25s ease;
            transition: all .25s ease; }
          .navbar .navbar-nav li.menu-item-has-children a:hover:before {
            border-color: #f1f1f1 #f1f1f1 transparent transparent; }
        .navbar .navbar-nav li.menu-item-has-children .sub-menu {
          background: #25284b;
          border: none;
          -webkit-box-shadow: none;
                  box-shadow: none;
          overflow-y: hidden;
          padding: 0 0 0 35px; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu li {
            position: relative;
            border-bottom: 1px solid #414470;
          }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu li a{
              color:#f1f1f1;
            }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu i {
            color: #f1f1f1;
            float: left;
            padding: 0;
            position: absolute;
            left: 0;
            font-size: 14px;
            top: 9px; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu i.menu-icon{
              color: #f1f1f1!important;
            }
            
            .navbar .navbar-nav li.menu-item-has-children .sub-menu li:hover i.menu-icon{
              color: #f1f1f1!important;
            }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
            padding: 2px 0 2px 30px; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
              content: '';
              display: none; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
              top: 13px;
              text-align: left;
              width: 25px; }
        .navbar .navbar-nav li.menu-item-has-children:hover a:before {
          border-color: transparent #25284b #25284b transparent;
          top: 20px;
          right: -5px; }
        .navbar .navbar-nav li.menu-item-has-children:hover a:hover:before {
          border-color: transparent #f1f1f1 #f1f1f1 transparent; }
        .navbar .navbar-nav li.menu-item-has-children:hover .sub-menu {
          max-height: 1000px;
          opacity: 1;
          position: static !important;
          display:block;
        }

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  color: #f1f1f1; }

.navbar-nav li span.count {
  background: #a9d86e;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  float: right;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-right: 15px;
  text-align: center; }

  nav .navbar-nav .user-area, nav .navbar-nav .for-notification{
    display: none;
  }

  /*.navbar .menu-title {
    color: #41434d;
    clear: both;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
    width: 100%; 
    display:inline-block;
  
    .navbar .navbar-nav li > a .menu-title-text {
          font-size: 14px; 

.open aside#left-panel .navbar .navbar-nav .menu-title {
    font-size: 0;
    line-height: 0;
    opacity: 0;
    padding: 0; } */

/* -- FIM Menu ABERTO --*/   

/* -- Menu FECHADO --*/   
.open .sub-menu i {
  left: 15px !important; 
}
.open .sub-menu li:hover i {
  left: 15px !important;
  color:#f1f1f1!important; 
}
.open .sub-menu .subtitle {
  display: none; }
  .open .sub-menu .subtitle > .menu-icon {
    display: none; }

.open aside#left-panel {
  max-width: 83px;
  width: 83px; }
  .open aside#left-panel .navbar .navbar-header {
    padding: 0; }
  
  .open aside#left-panel .navbar .navbar-nav:before {
    display: none !important; }
  .open aside#left-panel .navbar .navbar-nav li {
    position: relative;
    padding: 0 15px; }
    .open aside#left-panel .navbar .navbar-nav li a {
      font-size: 0;
      z-index: 0;
      -webkit-transition: none;
      transition: none; }
      .open aside#left-panel .navbar .navbar-nav li a .menu-icon {
        font-size: 20px;
        z-index: -1;
        text-align: center;
        width: inherit; }
      .open aside#left-panel .navbar .navbar-nav li a .menu-title-text {
        font-size: 0; }
      .open aside#left-panel .navbar .navbar-nav li a .badge {
        display: none; }
    .open aside#left-panel .navbar .navbar-nav li > a {
      max-width: 60px;
      padding-left: 0; }
    .open aside#left-panel .navbar .navbar-nav li.menu-item-has-children {
      overflow: hidden; }
      .open aside#left-panel .navbar .navbar-nav li.menu-item-has-children ul {
        padding-left: 0; }
      .open aside#left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
        display: block;
        left: 83px;
        top: 0; }
        .open aside#left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
          display: block;
          font-size: 14px;
          max-width: inherit;
          padding: 2px 15px 2px 25px;
          width: 100%; }
          .open aside#left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a .menu-icon {
            text-align: center; }
      .open aside#left-panel .navbar .navbar-nav li.menu-item-has-children:hover {
        overflow: visible; }
        .open aside#left-panel .navbar .navbar-nav li.menu-item-has-children:hover .sub-menu {
          position: absolute !important;
          width: 180px;
          -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
                  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08); }
    .open aside#left-panel .navbar .navbar-nav li span.count {
      display: none;
      margin-right: 5px;
      z-index: 1; }
    .open aside#left-panel .navbar .navbar-nav li.active a:after {
      content: '';
      display: none; }
     
  /*.open aside#left-panel .menutoggle {
    background-color: #dc3545;
    color: #fff !important;
    right: -20px;
    text-align: center; }*/

/* -- FIM Menu FECHADO --*/   

/* -- MOBILE -- */
@media (max-width: 575px) {
  .open aside#left-panel {
    display:none;
  }
  aside#left-panel, aside#left-panel .navbar{
    width:100%;
  }
  aside#left-panel .navbar .main-menu {
    display:block;
    width:100%;
  }
  nav .navbar-nav .user-area, nav .navbar-nav .for-notification{
    display: inline-block!important;
    width:50%;
  }
}